ProtTrans/
__pycache__/
update_tests.sh
experiments/embeddings_cache/
experiments/prepared_data.pt
experiments/v0_original/results
experiments/v2_improved/results
experiments/v3_regression/results
# Ignore model and data files
*.pt
*.pth
*.bin

# Cache
__pycache__/
*.pyc
embeddings_cache/
results/

# Datasets
*.fasta
experiments/esm2_tm_embed.log
experiments/protherm_embed.log
experiments/cdhit.log
experiments/esm2_train_embed.log
experiments/tembert_embed.log
new_data/
experiments/meltome_embed.log
StableProt/prot_t5_xl_half_uniref50-enc/config.json
StableProt/prot_t5_xl_half_uniref50-enc/model.safetensors
StableProt/prot_t5_xl_half_uniref50-enc/tokenizer_config.json
StableProt/prot_t5_xl_half_uniref50-enc/tokenizer.json
prott5_tm_embed.log
experiments/v6_multihead_esm2/train_v2.log
